html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


img{
	max-width: 100%;
	height: auto;
    display: block;
}

*,*::before,*::after{
	box-sizing: border-box;
}

.c-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body{
    font-family: Roboto;
    line-height: 1.5;
    font-size: 24px;
    font-style: italic;
}

.container{
    margin: 0 auto;
}

//banner
.banner{
    height: 958px;
    color: #ffffff;
    background-image:url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week2/banner.png?raw=true);
    background-position: center center;
    background-size: cover;
    h1{
        font-weight: 900;
        font-size: 80px;
        margin-bottom: 32px;
    }
    p{
        font-weight: bold;
    }
    .pic{
        margin-top: 40px;
        display: flex;
        li{
            margin-right: 16px;
        }
    }
}

//footer
.footer{
    background: #000;
    padding: 64px;
    color: #ffffff;
    text-align: center;
    h2{
        font-size: 64px;
        font-weight: bold;
    }
    p{
        margin-top: 16px;
    }
}

//about
.about{
    padding: 56px;
    font-weight: bold;
    text-align: center;
    h2{
        margin-bottom: 40px;
        font-size: 64px;
    }
    .intro1{
        margin-top: 20px;
        padding-bottom: 24px;
        border-bottom: 1px solid #000;
    }
    .intro2{
        li{
            margin-top: 28px;
            flex-direction: row;
            .circle {
                width: 22px;
                height: 22px;
                background: #891818;
                border-radius: 50%;
                margin-right: 16px;
            }
        }
    }
}

//brand
.brand{
    background: #000;
    color: #ffffff;
    padding: 56px 0 160px 0;
    h2{
        font-size: 64px;
    }
    h3{
        margin: 12px 0 32px 0;
    }
    p{
        margin-bottom: 28px;
        text-align: center;
    }
    .clothes{
        margin-top: 40px;
        display: flex;
        img {
            margin:0 12px;
        }
    }
}

//works
.works{
    padding: 56px 0 144px 0;
    font-weight: bold;
    h2{
        font-size: 64px;
    }
    p{
        margin: 16px 0 24px 0;
    }
    .work{
        margin-top: 32px;
        display: flex;
        li{
            margin:0 12px;
            h4{
                text-align: center;
                padding: 16px;
            }
        }
    }
}